html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E85D55;
    height: 100%;
    overflow: hidden;
}

#output {
    width: 512px;
    height: 256px;
}
#scope {
    background: teal;
}
#freqbars {
    background: black;
    display: block;
    margin-top: 1cm;        
}

.source {
    margin-right: 0.5em !important;
}

#active-sources {
    margin-bottom: 0.5em !important;
}

#available-sources {
    margin-bottom: 0.5em !important;
}

.jscolor {
    height: 0 !important;
    width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden;
    position: absolute;
}

#scope-container {
    padding: 0;
}

#trace-list {

}

.trace-card {
    min-height: 0 !important;
    padding: 0.2em;
    margin: 0.2em;
    position: absolute;
    width: 200px;
}

.node {
    width: 14em;
    position: absolute;
}

#node-tree-canvas {
    width:100%;
    height:600px;
    /*padding:50px;*/
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}